# Bật Rewrite Engine
RewriteEngine On

# Kiểm tra nếu tệp tin và thư mục không tồn tại
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển hướng tất cả các yêu cầu đến index.php
RewriteRule ^(.*)$ index.php [NC,L]

# Thiết lập thời gian thực thi tối đa cho PHP là 300 giây
php_value max_execution_time 300

# Kiểm tra và chuyển hướng tất cả các yêu cầu HTTP sang HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Cấu hình trỏ từ localhost/hutech-coffee/* sang hutech-coffee.local/*
RewriteCond %{HTTP_HOST} ^localhost$ [NC,OR]
RedirectMatch ^/hutech-coffee/(.*)$ https://hutech-coffee.local/$1
RedirectMatch ^/hutech-coffee$ https://hutech-coffee.local/
